name: Solidity Contracts
on:
  push:
    branches: [main]
    paths:
      - "contracts/**"
      - ".github/workflows/contracts.yml"
  pull_request:
    branches: [main]
    paths:
      - "contracts/**"
      - ".github/workflows/contracts.yml"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  solidity:
    name: build and test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./contracts
    steps:
      - uses: actions/checkout@v5

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: stable

      - name: Show Forge version
        run: |
          forge --version
        id: version

      - name: Run Forge fmt
        run: |
          forge fmt --check
        id: fmt

      - name: Run Forge soldeer install
        run: |
          forge soldeer install
        id: soldeer

      - name: Run Forge build
        run: |
          forge build --sizes
        id: build

      - name: Run Forge tests
        run: |
          forge test -vvv
        id: test
